
 html{/*background-color: rgb(255, 255, 183); */
    background-color: #787497;
    height: 100%;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
}
body{ height: 100%;
width: 100%;
}
#pc{
    width: 50px;
    z-index: 2;
}

 #container4{
    transition: 2s;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 3px;
    z-index:1;
 }
#container3{
    margin: 50px;
    width: 500px;
    height: 400px;
    display: grid;
    align-content: center;
    justify-items : center;
    background-color: gray;
    box-shadow:  0px 0px 7px black;
    
    border-radius: 5%;
    z-index: auto;
   border: black 10px groove ;
}

#container1{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: auto;
}
    
    
    #menu{
        width: 600px;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: auto;
    }
 
#resultad{
    background-color: black;
    color: greenyellow;
    width: 450px;
    height: 50px;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 70px;
    font-size: 1.3rem;
    text-align: end;
}

#valor1{width: 100px;
    height: 50px;
    font-size: 2rem;
    border-color: #1c1c1c79;
    background-color: rgb(102, 102, 102);
    border-radius: 10%;   
    font-family: 'Press Start 2P', cursive;
    outline: none;
    
}
#valor2{width: 100px;
    height: 50px;
    font-size: 2rem;
    border-radius: 10%;   
    border-color: #1c1c1c79;
    background-color: rgb(101, 101, 101);
    font-family: 'Press Start 2P', cursive;
    outline: none;
}
#operacao{
    width: 55px;
    height: 55px;
    margin: 0px 20px;
    font-size: 1.16rem;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    appearance: none;
    outline: none;
    background-image: url(img/bloco.png); 
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}



option {
    background-color: #F3D401;
    color: rgb(255, 255, 255);
}


#calc{
    display: flex;
   
    border-radius: 10%;
   
    
}




#btn1{
    width: 120px;
    margin-top: 50px;
    font-family: 'Press Start 2P', cursive;
    border-radius: 30px;
}
#reset{
    width: 120px;
    margin-top: 50px;
    font-family: 'Press Start 2P', cursive;
    border-radius: 30px;

}

#nome{
  font-size: 2rem;
 
}